---
import Layout from '../layouts/layout.astro';
import SocialLink from '../components/SocialLink.astro';
import TourList from '../components/TourList.astro';

const baseUrl = import.meta.env.BASE_URL;
---

<Layout title="Quiwie">
  <div class="container">
    <div class="logo-wrapper">
      <img
        src={`${baseUrl}/img/TijdelijkLogo.png`}
        alt="Quiwie Logo"
        class="logo"
      />
    </div>

    <h1 class="band-name">Quiwie</h1>

    <section id="tour-dates" class="scroll-reveal">
      <h2 class="section-title">Concerten</h2>
      <TourList />
    </section>

    <div class="release-header scroll-reveal">
      <h2 class="section-title">Laatste release</h2>
    </div>

    <section class="soundcloud-wrapper scroll-reveal">
      <iframe
        width="100%"
        height="120"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/2245918166&color=%23899447&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&show_artwork=false"
      ></iframe>
      <div class="sc-caption">
        <a href="https://soundcloud.com/quiwie" title="Quiwie" target="_blank"
          >Quiwie</a
        > ·
        <a
          href="https://soundcloud.com/quiwie/waarisdietijd-demo"
          title="WaarIsDieTijd (Demo)"
          target="_blank">WaarIsDieTijd (Demo)</a
        >
      </div>
    </section>

    <section class="links-list scroll-reveal">
      <SocialLink
        href={`${baseUrl}/coming-soon`}
        icon="fab fa-spotify"
        title="Spotify (Coming soon)"
        color="#1DB954"
        isExternal={false}
      />
      <SocialLink
        href="https://instagram.com/quiwie.band"
        icon="fab fa-instagram"
        title="Instagram"
        color="#E4405F"
      />
      <SocialLink
        href="https://soundcloud.com/quiwie"
        icon="fab fa-soundcloud"
        title="SoundCloud"
        color="#FF5500"
      />
      <SocialLink
        href="https://vi.be/platform/Quiwie"
        imgSrc="https://vi.be/favicon.ico"
        title="VI.BE"
      />
      <SocialLink
        href="https://facebook.com/quiwie"
        icon="fab fa-facebook"
        title="Facebook"
        color="#1877F2"
      />
      <SocialLink
        href="mailto:quiwieband@gmail.com"
        icon="fas fa-envelope"
        title="Boekingen & Contact"
        color="var(--text-color)"
      />
    </section>

    <section class="newsletter-box scroll-reveal">
      <form action="#" method="POST">
        <input
          type="email"
          name="email"
          placeholder="Je e-mailadres"
          required
        />
        <button type="submit">Blijf op de hoogte van onze deugnieterij</button>
      </form>
    </section>
  </div>
</Layout>
