---
import Layout from '../layouts/layout.astro';
---

<Layout title="Quiwie - Linktree">
  <div class="container">
    <div class="logo-wrapper">
      <img src="/img/TijdelijkLogo.png" alt="Quiwie Logo" class="logo" />
    </div>

    <h1 class="band-name">Quiwie</h1>

    <section id="tour-dates">
      <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"
      ></script>
      <a
        class="bit-widget-initializer"
        data-artist-name="Quiwie"
        data-display-local-dates="false"
        data-display-past-dates="false"
        data-display-details="false"
        data-display-lineup="false"
        data-display-play-my-city="false"
        data-separator-color="rgba(124,124,124,0.35)"></a>
    </section>

    <h2 class="section-title">Laatste release</h2>

    <section class="soundcloud-wrapper">
      <iframe
        width="100%"
        height="120"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/2245918166&color=%23899447&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&show_artwork=false"
      ></iframe>
      <div class="sc-caption">
        <a href="https://soundcloud.com/quiwie" title="Quiwie" target="_blank"
          >Quiwie</a
        > · <a
          href="https://soundcloud.com/quiwie/waarisdietijd-demo"
          title="WaarIsDieTijd (Demo)"
          target="_blank">WaarIsDieTijd (Demo)</a
        >
      </div>
    </section>

    <section class="links-list">
      <a href="/coming-soon" class="link-item">
        <i class="fab fa-spotify" style="color: #1DB954;"></i> Spotify (Coming soon,
        niet klikken)
      </a>
      <a
        href="https://instagram.com/quiwie.band"
        class="link-item"
        target="_blank"
      >
        <i class="fab fa-instagram" style="color: #E4405F;"></i> Instagram
      </a>
      <a href="https://soundcloud.com/quiwie" class="link-item" target="_blank">
        <i class="fab fa-soundcloud" style="color: #FF5500;"></i> SoundCloud
      </a>
      <a href="https://vi.be/platform/Quiwie" class="link-item" target="_blank">
        <img src="https://vi.be/favicon.ico" alt="VI.BE logo" /> VI.BE
      </a>
      <a href="https://facebook.com/quiwie" class="link-item" target="_blank">
        <i class="fab fa-facebook" style="color: #1877F2;"></i> Facebook
      </a>
      <a href="mailto:quiwieband@gmail.com" class="link-item contact-btn">
        <i class="fas fa-envelope"></i> Boekingen & Contact
      </a>
    </section>

    <section class="newsletter-box">
      <form action="#" method="POST">
        <input
          type="email"
          name="email"
          placeholder="Je e-mailadres"
          required
        />
        <button type="submit">Blijf op de hoogte van onze deugnieterij</button>
      </form>
    </section>
  </div>
</Layout>
